:root {
    --ion-color-primary: #26355D;
    --ion-color-primary-rgb: 38, 53, 93;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #222f54;
    --ion-color-primary-tint: #3b4b7b;
  
    --ion-color-secondary: #AF47D2;
    --ion-color-secondary-rgb: 175, 71, 210;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #9c3fc0;
    --ion-color-secondary-tint: #bd64db;
  
    --ion-color-tertiary: #FF8F00;
    --ion-color-tertiary-rgb: 255, 143, 0;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #e08000;
    --ion-color-tertiary-tint: #ffa733;


    --ion-color-dark: #1c1c1c;
    --ion-color-dark-rgb: 28, 28, 28;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #191919;
    --ion-color-dark-tint: #333333;
  
    --ion-color-light: #f4f4f4;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #dcdcdc;
    --ion-color-light-tint: #ffffff;
  }
  